<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/common.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    {+head /}
    <title>{+title /}</title>
</head>
<body>
    {+body /}
    <script type="text/javascript" src="/javascript/libs/jquery.js"></script>
    <script type="text/javascript" src="/javascript/libs/popper.js"></script>
    <script type="text/javascript" src="/javascript/libs/bootstrap.js"></script>
</body>
</html>