#notFound {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

#notFound .content {
    text-align: center;
}

#notFound .content .title {
    font-size: 36px;
    padding: 20px;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}